
    

    <div class="container">
        <div class="card-deck">
            
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/books.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">decoration</h5>
                    <a href="#" class="btn btn-primary">Books</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/markers.jpg" class="card-img-top" alt="..." height="200px">
                <div class="card-body text-center">
                    <h5 class="card-title">Markers</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/pouches.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Pouches</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/craft7.jpg" class="card-img-top" alt="..." height="200px">
                <div class="card-body text-center">
                    <h5 class="card-title">pencils</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
        </div>
    </div>
    
