
<div class="text-danger" >
   <b> About us <br>People’s favorite online Arts of crafts in India <br>The Arts of crafts Shop 
    (Color Conceptions) was started  in early 2011. It all started when we sold our 
    excess supplies through blog. Back then, finding modern craft supplies in India 
    was a challenge. We took one step further, to bring craft supplies from around the 
    world to people’s door step. Our service was loved by many customers and our 
    reputation spread through word of mouth. We now carry THOUSANDS of products. 
    We put up loads of hard work and a lot of time and devotion, since this is 
    our passion. CUSTOMER SATISFACTION and happiness is our driving force. <br>We are so
     grateful to our customers. With their constant support and encouragement, 
     we have grown up to where we are now – The Best and People’s FAVOURITE 
     online craft supply store in India. <br>TheCraftShop.in is committed to bringing new
      and trendy craft products to the India and making it easy to find all in one 
      place. Even if you do not find something you want, you can preorder, through Pre 
      order form.We could happily bring that for you!!We really hope you enjoy 
      your stay at our website and have a pleasurable experience, shopping with us. 
      Happy Crafting!! <br> <br>Connect with us through Social Media. Get Immediate and 
      regular updates</b>
</div>
    
