
    

    <div class="container">
        <div class="card-deck">
            
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/decoration.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">decoration</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/partyhats.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Birthday Hats</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/baloons.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Baloons</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
            <div class="card" style="width: 300px;">
                <img src="./assets/pictures/candels.jpg" class="card-img-top" alt="..." height="200px">
                <div class="card-body text-center">
                    <h5 class="card-title">Candles</h5>
                    <a href="#" class="btn btn-primary">shop now</a>
                </div>
            </div>
        </div>
    </div>
    