<div class =" container">
    
    <div class = "modal fade" id = "exampleModal" tabindex = "-1" 
       role = "dialog" aria-labelledby =" exampleModalLabel" aria-hidden = "true">
       <div class = "modal-dialog" role = "document">
          <div class = "modal-content">
             <div class = "modal-header">
                <h5 class = "modal-title" id = "exampleModalLabel">Welcomes to Arts of Crafts</h5>
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                   <span aria-hidden = "true">×</span>
                </button>
             </div>
             
             <div class = "modal-body">
                <p>Are you new user please Sign Up our Account.And enjoy shopping</p>
                <p class="text-secondary"><small>Otherwise login in and enjoy shopping.</small></p>
             </div>
             
             <div class = "modal-footer">
               <a routerLink="login"> 
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">login</button>
               </a>
                <button type="button" class="btn btn-primary">Sign up</button>
                <button type = "button" class = "btn btn-danger" data-dismiss = "modal">Close</button>
                <button type = "button" class = "btn btn-success">Save</button>
             </div>
             
          </div>
       </div>
    </div>
 </div>