.home
{
    background-image: url('https://image.shutterstock.com/image-photo/colorful-pink-background-party-confetti-260nw-777642553.jpg');
    height: 100%;
    
    
}
.text{
    text-align: center;
}
